@import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');

#Drifting {
  position: fixed;
  bottom: 40%;
  left: 30px;
}
#Drifting-rod {
  height: 40px;
  width: 7px;
  z-index: 1;
  background-color: #3C3C3C;
  border-radius: 20%;

  position: absolute;
  transform: 
    translateY(-80%)
    translateX(500%)
}
#Drifting-frag {
  position: absolute;
  width: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 40px solid #FE5D26;

  transform: 
    rotateZ(-90deg)
    translateX(307%)
    translateY(136%)
}
#baloon {
  position: fixed;
  z-index: 2;
  height: 80px;
  width: 80px;

  background-color: #FE5D26;
  border-radius: 50%;
}

#message-box {
  background-color: #FE5D26;
  height: 200px;
  width: 310px;
  border-radius: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: 
    translateY(-50%)
    translateX(-50%);
  /*webkitに対応*/
    -webkit-transform: 
      translateY(-50%)
      translateX(-50%);
    -ms-transform: 
      translateY(-50%)
      translateX(-50%);
}
#content-box {
  height: 140px;
  width: 280px;
  border-radius: 4px;

  font-family: "Nico Moji";
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  word-wrap:break-word;
  
  background-color: #ffffff;
  position: fixed;
  top: 47%;
  left: 50%;
  transform: 
    translateY(-50%)
    translateX(-50%);
  /*webkitに対応*/
    -webkit-transform: 
      translateY(-50%)
      translateX(-50%);
    -ms-transform: 
      translateY(-50%)
      translateX(-50%);
}
#background {
  position: fixed;
  width: 100%;
  height: 100%;
}