html,body {
  height: 100%;
  z-index: -100;
}

body:after {/*擬似要素をつくる*/
  z-index: -100;
  position: fixed;/*固定配置*/
  top: 0; left: 0;/*左上に固定*/
  width: 100%; height: 100%;/*画面全体を覆う*/
  content: "";
  background: #81D2C7;/*保険用*/
    background: -moz-linear-gradient(top, #E0E0E2 62%,#81D2C7 60%);/*古いFireFox向け*/
  background: -webkit-linear-gradient(top, #E0E0E2 62%,#81D2C7 68%);/*古いSafari・Chrome向け*/
  background: linear-gradient(to bottom, #E0E0E2 62%, #81D2C7 68%);/*正規のプロパティ*/
}

#Drifting {
  position: fixed;
  bottom: 40%;
  left: 30px;
}
#Drifting-rod {
  height: 40px;
  width: 7px;
  z-index: 1;
  background-color: #3C3C3C;
  border-radius: 20%;

  position: absolute;
  transform: 
    translateY(-80%)
    translateX(500%)
}
#Drifting-frag {
  position: absolute;
  width: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 40px solid #FE5D26;

  transform: 
    rotateZ(-90deg)
    translateX(307%)
    translateY(136%)
}
#baloon {
  position: fixed;
  z-index: 2;
  height: 80px;
  width: 80px;

  background-color: #FE5D26;
  border-radius: 50%;
}