.form-enter {
  opacity: 0;
}
.form-enter-active {
  transition: opacity 800ms ease-out;
  opacity: 1;
}
.form-exit {
  transition: opacity 800ms ease-in;
  opacity: 1;
}
.form-exit-active {
  opacity: 0;
}
#transition-top-page {
  position: fixed;
  background-color: #fe5d26;
  height: 200px;
  bottom: 0;
  width: 100%;
  border-radius: 50% / 25%;
  transform: translateY(160px);

  font-family: "Nico Moji";
  text-align: center;
}
#induction-message-post{
  margin-top: 10px;
  color: #fff;
  font-size: 1.5em;
}